beautifulsoup4==4.13.4
certifi==2025.7.14
charset-normalizer==3.4.2
colorama==0.4.6
idna==3.10
joblib==1.5.1
numpy==2.2.6
opencv-python==4.12.0.88
PySocks==1.7.1
PyWavelets==1.8.0
PyYAML==6.0.2
requests==2.32.4
scikit-learn==1.7.0
scipy==1.16.0
soupsieve==2.7
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.14.1
urllib3==2.5.0





def appendData_xl(exel_path: str, label: str, result: dict, image_id: int) -> None:
    

    try:
        
        headers = ["No", "Remarks"] + list(result.keys())
        values = [image_id, label] + list(result.values())


        if not Path(exel_path).exists():
            wb = Workbook()
            ws = wb.active
            ws.title = "mmmn_GroundTruth_datasets"

            for col, headers in enumerate(headers, start=1):
                ws.cell(row=1, column=col).value = headers
            
            for col, val in enumerate(values, start=1):
                ws.cell(row=1, column=col).value = val

            wb.save(exel_path)
            return True
        
        wb = load_workbook(exel_path)
        ws = wb.active
        next_row = ws.max_row + 1

        existing_headerss = [ws.cell(row=1, column=i).value for i in range(1, len(headers)+ 1)]
        if existing_headerss != headers:
            print(f"[ERROR] Headers mismatch. Please Generate the new Exel file!")
            return False
    
        wb.save(exel_path)
        print(f"[SUCCESS] Row {next_row} saved for Image Id {image_id}")
        return True


    except Exception as e:
        print(f"[ERROR] failed to save {e}")

